<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Search</title>
    <link rel="stylesheet" type="text/css" href="styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="styles/base.css" />
    <link rel="stylesheet" type="text/css" href="styles/layout.css" />
    <link rel="stylesheet" type="text/css" href="styles/modules.css" />
</head>

<body>
    <main>
        <h3 class="banner">Search By Title or Author</h3>
        <form action="/searches" method="post" class="searchForm">
            <div>
                <input id="book-search" type="text" name="searchText" placeholder="Enter a title or author" required><br>
                <label class="radio-label" for="author">Author</label>
            </div>
            <div>
                <input class="radio-button" type="radio" name="searchType" value="author"><br>
                <label class="radio-label" for="title">Title</label>
            </div>
            <div>
                <input class="radio-button" type="radio" name="searchType" value="title"><br>
                <button type="submit">Search the Google Books API</button>
            </div>
        </form>
    </main>
</body>

</html>